DB_URL=jdbc:postgresql://localhost:5432/your_database
DB_USER=your_postgres_profile
DB_PASSWORD=your_password_here

JWT_SECRET=REPLACE_WITH_A_BASE64_ENCODED_32_BYTE_OR_LONGER_SECRET
JWT_EXPIRATION=3600000

AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_REGION=your_aws_region
AWS_BUCKET_NAME=your_aws_bucket_name

MAX_IMAGE_PER_TASK=enter_maximum_number_of_images_per_task_here
MAX_FILE_SIZE=enter_maximum_file_size_in_mB_here
MAX_REQUEST_SIZE=enter_maximum_request_size_in_mB_here
DDL_AUTO=enter_ddl_auto_value_here
